/*
 * Copyright (c) 2026 J. Korinth
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

/ {
	combos {
		compatible = "zmk,combos";
		timeout-ms = <15>;
// -----------------------------------------------------------------------------------------
// |     ~     |     |     (     /     | | |     *      )      |      |     =     \ 
// < CAPS LOCK >     |     {     -     | | |     +      }      &      |     |     `
// |     |     |     |     [     !     | | |    "|"     ]      _      |     |     |
//                   |     |     |     | | |     |      |      |
		// row 1
		combo_tilde {
			key-positions = <0 1>;
			bindings = <&kp TILDE>;
		};
		combo_lparen {
			key-positions = <3 4>;
			bindings = <&kp LPAR>;
		};
		combo_div {
			key-positions = <4 5>;
			bindings = <&kp FSLH>;
		};
		combo_mul {
			key-positions = <6 7>;
			bindings = <&kp ASTERISK>;
		};
		combo_rparen {
			key-positions = <7 8>;
			bindings = <&kp RPAR>;
		};
		combo_eq {
			key-positions = <9 10>;
			bindings = <&kp EQL>;
		};
		combo_bslh {
			key-positions = <10 11>;
			bindings = <&kp BSLH>;
		};

		// row 2
		combo_clck {
			key-positions = <12 13 14>;
			bindings = <&kp CLCK>;
		};
		combo_lbrace {
			key-positions = <15 16>;
			bindings = <&kp LBRC>;
		};
		combo_minus {
			key-positions = <16 17>;
			bindings = <&kp MINUS>;
		};
		combo_plus {
			key-positions = <18 19>;
			bindings = <&kp PLUS>;
		};
		combo_rbrace {
			key-positions = <19 20>;
			bindings = <&kp RBRC>;
		};
		combo_amps {
			key-positions = <20 21>;
			bindings = <&kp AMPS>;
		};
		combo_bktk {
			key-positions = <22 23>;
			bindings = <&kp GRAVE>;
		};
		
		// row 3
		combo_lbracket {
			key-positions = <27 28>;
			bindings = <&kp LBKT>;
		};
		combo_excl {
			key-positions = <28 29>;
			bindings = <&kp EXCL>;
		};
		combo_pipe {
			key-positions = <30 31>;
			bindings = <&kp PIPE>;
		};
		combo_rbracket {
			key-positions = <31 32>;
			bindings = <&kp RBKT>;
		};
		combo_ul {
			key-positions = <32 33>;
			bindings = <&kp UNDER>;
		};

		// bluetooth
		combo_bt0 {
			timeout-ms = <500>;
			require-prior-idle-ms = <1000>;
			key-positions = <0 1 2 3 6>;
			bindings = <&bt BT_SEL 0>;
		};
		combo_bt1 {
			timeout-ms = <500>;
			require-prior-idle-ms = <1000>;
			key-positions = <0 1 2 3 7>;
			bindings = <&bt BT_SEL 1>;
		};
		combo_bt2 {
			timeout-ms = <500>;
			require-prior-idle-ms = <1000>;
			key-positions = <0 1 2 3 8>;
			bindings = <&bt BT_SEL 2>;
		};
		combo_bt_clear {
			timeout-ms = <500>;
			require-prior-idle-ms = <1000>;
			key-positions = <0 1 2 3 11>;
			bindings = <&bt BT_CLR>;
		};

		// mouse mode
		combo_mouse_mode {
			require-prior-idle-ms = <500>;
			key-positions = <38 39>;
			bindings = <&to 3>;

		};

		combo_zmk_studio_unlock {
			require-prior-idle-ms = <500>;
			key-positions = <0 11 24 35>;
			bindings = <&studio_unlock>;
		};

	};

	td_caps: td_caps {
		compatible = "zmk,behavior-tap-dance";
		#binding-cells = <0>;
		tapping-term-ms = <250>;
		bindings = <&none>, <&caps_word>;
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------
// | TAB   | Q     | W     | E     | R     |  T  |   |  Y  | U     | I     | O     | P     | BSPC   |
// | ESC   | LS(A) | LC(S) | LA(D) | LG(F) |  G  |   |  H  | J     | K     | L     | ;     | '      |
// | cw    | Z     | X     | C     | V     |  B  |   |  N  | RG(M) | RA(,) | RC(.) | RS(/) | RCTRL  |
//                                 | MO(1) | SPC | TOG(2) | RET | MO(1) |
                        bindings = <
   &kp TAB   &mt N1 Q    &mt N2 W    &mt N3 E   &mt N4 R   &mt N5 T &mt N6 Y &mt N7 U   &mt N8 I        &mt N9 O      &mt N0 P       &kp BSPC
   &kp ESC   &mt LSHFT A &mt LCTRL S &mt LALT D &mt LGUI F &kp G    &kp H    &kp J      &kp K           &kp L         &kp SEMI       &kp SQT
   &td_caps  &kp Z       &kp X       &kp C      &kp V      &kp B    &kp N    &mt RGUI M &mt RALT COMMA  &mt RCTRL DOT &mt RSHFT FSLH &kp RCTRL
                                             &mo 1 &kp SPACE &tog 1 &kp RET &mo 1
                        >;
                };

                lower_layer {
// ---------------------------------------------------------------------------------------
// | LG  |  1  |  2  |  3  |  4  |  5   | | |   6  |   7  |   8  |   9   |  0  | DEL |
// | LSH | MB3 | MB2 | M_U | MB1 | PGUP | | | HOME | LEFT |  UP  | RIGHT |  ^  | RSH |
// | LC  | LA  | M_L | M_D | M_R | PGDN | | |  END |   ^  | DOWN |   ^   | RA  | RC  |
//                   |  ^  |  ^  |      | ^ |   ^  |   ^  |
                        bindings = <
   &kp LGUI  &kp N1   &kp N2         &kp N3         &kp N4          &kp N5     &kp N6   &kp N7   &kp N8   &kp N9    &kp N0   &kp DEL
   &kp LSHFT &mkp MB3 &mkp MB2       &mmv MOVE_UP   &mkp MB1        &kp PGUP   &kp HOME &kp LEFT &kp UP   &kp RIGHT &trans   &kp RSHFT
   &kp LCTRL &kp LALT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &kp PGDN   &kp END  &trans   &kp DOWN &trans    &kp RALT &kp RCTRL
                          	                            &trans &trans &tog 1 &trans &tog 2
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ | RGB_SPI | RGB TOG |   |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
// | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- | RGB_SPD |         |   |       |     |     |     |     |        |
// |          |          |          |          |         |         |   | RESET |     |     |     |     |        |
//                                              |     |     |     |     |     |
                        bindings = <
   &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &rgb_ug RGB_SPI &rgb_ug RGB_TOG    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
   &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &rgb_ug RGB_SPD &none              &none        &none        &none        &none        &none        &none
   &none           &none           &none           &none           &none &none              &sys_reset       &none        &none        &none        &none        &none
                                                             &trans      &trans       &tog 2        &trans      &tog 2
                        >;
                };
        };
};

&mt {
	tapping-term-ms = <300>;
	flavor = "tap-preferred";
};

